name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  flutter_test:
    name: Run Flutter Test
    runs-on: ubuntu-latest
    permissions:
      contents: write

    timeout-minutes: 60
    
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true
          channel: stable
          flutter-version-file: pubspec.yaml
      - run: flutter clean
      - run: flutter pub get

      - name: Build_runner
        run: dart run build_runner build \
          --delete-conflicting-outputs \
          --verbose
          
      - name: Commit changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name 'GitHub Actions Bot'
          git config --global user.email 'actions@github.com'
          git status
          git add .
          git commit -m "chore: Update generated files [skip ci]"
          git push --force origin HEAD:build_runner

      - run: flutter analyze --no-fatal-infos --no-fatal-warnings
      
      - run: flutter test

  build_iOSApp:
    name: Build Flutter App (iOS)
    needs: [flutter_test]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: subosito/flutter-action@v2
        with:
          cache: true
          channel: stable
          flutter-version-file: pubspec.yaml
      - run: flutter pub get
      #- run: flutter doctor
      
      - name: Run build_runner
        run: dart run build_runner build \
          --delete-conflicting-outputs \
          --verbose

      - run: pod repo update
        working-directory: ios
      
      - name: Build IPA
        run: |
          flutter build ios \
            --release \
            --no-codesign \
            --verbose
          mkdir -p Payload
          mv ./build/ios/iphoneos/Runner.app Payload
          zip -r -y Payload.zip Payload/Runner.app
          mv Payload.zip Payload.ipa

      - name: Upload IPA as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: Payload.ipa
          
      - name: Upload IPA to catbox
        id: upload-ipa-to-catbox
        run: |
          RESPONSE=$(curl -F "reqtype=fileupload" -F "time=72h" -F "fileToUpload=@Payload.ipa" https://litterbox.catbox.moe/resources/internals/api.php)
          echo "Upload response: $RESPONSE"
          
      - name: Bark
        env:
          $BARK_KEY: ${{secrets.$BARK_KEY}}
        run: curl https://api.day.app/XSCJ9Sn8V2oSJ8RmAzB69C/biliupdata -d "group=actions&icon=https://avatars.githubusercontent.com/u/65916846?v=4&url=$RESPONSE"
